<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <div class="container">
      {% include navbar.html %}
      <h1>{{ page.title }}</h1>
      <p class="lead">{{ page.description }}</p>
      <hr>
      {{ content }}
      {% assign notes = site.notes | where: "category", page.title %}
      {% if notes.size > 0 %}
        <h3>Notes</h3>
        {% assign types = notes | group_by: "note_type" | sort: "name" %}
        {% for type in types %}
          <h4>{{ type.name }}</h4>
          {% if type.name == "Archives" %}
            {% assign repositories = type.items | group_by: "repository" | sort: "name" %}
            {% for repository_group in repositories %}
              {% assign repository = site.data.repositories[repository_group.name] %}
              <h5>{{ repository.long }}</h5>
              <ul>
              {% for item in repository_group.items %}
                {% include note_list.html note=item %}
              {% endfor %}
              </ul>
            {% endfor %}
          {% else %}
            <ul>
            {% for item in type.items %}
              {% include note_list.html note=item %}
            {% endfor %}
            </ul>
          {% endif %}
        {% endfor %}
      {% endif %}
      {% include footer.html %}
    </div>  
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
  </body>
</html>